.section-pricings {
    &__row {
        margin: 0 -6px 12px -6px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__col-info,
    &__col-price {
        font-size: 16px;
        padding: 0 6px;
        text-transform: uppercase;
        text-align: center;
        color: white;
        @include mq(md) {
            font-size: 20px;
        }
    }
    &__col-info-inner {
        padding: 25px 0;
        background: #cdcdcd;
    }
    &__col-price-inner {
        padding: 25px 0;
        background: #818181;
    }
}
