.section-hero {
    .page-logo {
        left: 0;
        top: 0;
        z-index: 2;
    }
    &__full-container {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
