.page-menu-desktop {
    .menu {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        li {
            padding: 6px 20px 6px;
        }
        a {
            text-transform: uppercase;
            color: $white;
            text-decoration: none;
            position: relative;
            padding: 2px 0;
            &:after {
                content: "";
                display: block;
                position: absolute;
                width: 100%;
                height: 1px;
                background: transparent;
            }
            &:hover:after {
                background: $white;
            }
        }
    }
}
.menu-mobile-wrapper {
    transform: translateX(-100%);
}
.page-menu-mobile {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    padding: 90px 0;
    width: 100%;
    height: 100%;
    display: block;
    .menu {
        list-style: none;
        display: block;
        li {
            padding: 8px 30px;
            font-size: 22px;
        }
        a {
            text-transform: uppercase;
            position: relative;
            color: $white;
            text-decoration: none;
            padding-bottom: 6px;
            &:after {
                content: "";
                display: block;
                position: absolute;
                width: 100%;
                height: 1px;
                background: transparent;
            }
            &:hover:after {
                background: $white;
            }
        }
    }
}
